* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30.6, 67.4%, 90.9%);
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url(./components/images/homepage.png);
  background-size: cover;
}

.hero-slogan,
.hero-slogan-subtitle {
  color: hsl(30.6, 67.4%, 90.9%);
  font-family: "Montserrat", sans-serif;
  font-size: 85px;
  position: absolute;
  top: 195px;
  left: 50px;
  filter: drop-shadow(2px 4px 6px rgb(218, 164, 93));
}

.hero-slogan-subtitle {
  font-size: 25px;
  top: 465px;
  filter: drop-shadow(2px 4px 6px rgb(190, 151, 109));
}

.hero-slogan-contact-btn {
  position: absolute;
  top: 520px;
  left: 185px;
  color: hsl(31, 38%, 49%);
  background-color: hsl(30.6, 67.4%, 90.9%);
}

.hero-slogan-book-btn {
  position: absolute;
  top: 520px;
  left: 50px;
  padding: 8px 25px;
}

.hero-image {
  height: 95vh;
  width: 100vw;
}

.navbar-logoimg {
  height: 150px;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .hero {
    /* background-image: url(./components/images/); */
    height: 100vh;
    width: 100vw;
    background-size: cover;
  }
  .hero-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hero-slogan {
    font-size: 35px;
    top: 332px;
  }

  .hero-slogan-subtitle {
    font-size: 16px;
    top: 430px;
  }

  .hero-slogan,
  .hero-slogan-subtitle {
    filter: drop-shadow(2px 4px 6px rgb(190, 151, 109));
  }
}
/*-----Accommodations Section------*/

.Accommodations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acc-img {
  width: 85vw;
  height: 170px;
  border-radius: 14px;
  box-shadow: -6px -6px 8px 6px rgba(252, 245, 237, 0.5),
    5px 5px 15px 4px rgba(116, 83, 49, 0.2);
  position: absolute;
  top: 140px;
}

.acc-img2 {
  display: none;
}

.acc-section {
  position: absolute;
  top: 310px;
}

.accomodation {
  width: 90vw;
  font-family: 'Montserrat', sans-serif;
}

.acc-title {
  font-size: 20px;
  margin: 8px 5px 5px 5px;
}

.acc-desc {
  margin-left: 15px;
  margin-top: 8px;
}

.acc-name {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .Accommodations-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .acc-img {
    display: none;
  }

  .acc-img2 {
    display: inline;
    height: 450px;
    width: 330px;
    border-radius: 14px;
    box-shadow: -6px -6px 8px 6px rgba(252, 245, 237, 0.5),
      5px 5px 15px 4px rgba(116, 83, 49, 0.2);
    position: absolute;
    left: 55vw;
    top: 170px;
  }

  .accomodation {
    width: 35vw;
  }

  .acc-section {
    position: absolute;
    top: 220px;
    left: 10vw;
  }
}
